/* Mixins
----------------------------------*/
@mixin clearfix() {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}


/*= Styles
 ------------------------*/
body{
  font-size: 100%;
}

#insert{
  padding: 10px;
  cursor:pointer;
  display:inline-block;
}

#wrapper{
//  width: 90%;
  max-width: 100%;
//  background-color: #eee;
}

#sidebar{
  ul{
    list-style-type:none;
    
    li{
      padding: .5em;
      border-bottom: 1px solid #ececec;
      
      a{
        color: #333;
      }
    }
  }
}

#items-wrapper{
  font-size: 0.85em;
  line-height: 1em;
  
  &.flexbox{
    display: flex;
    flex-flow: row wrap;  
  }
  
  .item{
    padding:1em;
    display: inline-block;
    
    
    img{
      width: 100%;
      display: block;
      margin: 0 auto 1em;
    }
    
    & > div
    {
    	padding: 1px;
    	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.15);
    	border-radius: 2px;
    	background-color:white;
		& > p
	    {
		  padding: 1em;
		  margin-bottom: 0;
	    }
	
    }
    
    .num{
      font-weight: bold;
      line-height: 1.5em;
    }
  }  
}

@media #{$large} { 
  #main{
    width: 85%;
  }
  
  #sidebar{
    width: 15%;
  }
}