@import "normalize";
@import "settings"; // *always required
@import "foundation"; // *always required

/* Mixins
----------------------------------*/
@mixin clearfix() {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}


/*= Styles
 ------------------------*/
body{
  font-family: Avenir, sans-serif;
  font-size: 100%;
  background: #f5f5f5;
}

#insert{
  padding: 10px;
  cursor:pointer;
  display:inline-block;
}

#wrapper{
  width: 90%;
  max-width: 90%;
}

#sidebar{
  ul{
    list-style-type:none;
    
    li{
      padding: .5em;
      border-bottom: 1px solid #ececec;
      
      a{
        color: #333;
      }
    }
  }
}

#items-wrapper{
  font-size: 0.75em;
  line-height: 1em;
  
  &.flexbox{
    display: flex;
    flex-flow: row wrap;  
  }
  
  .item{
    background: #f3f3f3;
    padding:1em;
    display: inline-block;
    
    img{
      max-width: 100%;
      display: block;
      margin: 0 auto 1em;
    }
    
    & > div{
      padding: 1em;
      box-shadow: 1px 1px 1px #D8D8D8;
    }
    
    .num{
      font-weight: bold;
      line-height: 1.5em;
    }    
  }  
}

@media #{$large} { 
  #main{
    width: 85%;
  }
  
  #sidebar{
    width: 15%;
  }
}